.explorer {
  width: 28vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explorer-content {
  width: calc(100% - 6vw);
  height: calc(100% - 12vh);
  border-radius: 12px;
  border: 1px solid #404044;
  position: relative;
}

.thumbnail {
  display: inline-block;
  margin-left: 0.8vw;
  margin-top: 0.8vw;
  background-color: #141416;
  width: calc(50% - 1.2vw);
  height: 8vh;
  border-radius: 5px;
}