.breadcrumb-container {
  margin-left: 2vw;
}

.breadcrumb-container > a, .breadcrumb-container > span {
  color: #91919C;
  font-weight: 300;
  font-size: 0.8vw;
}

.breadcrumb-container > a.active {
  color: #E5E5E9;
}

.breadcrumb-container > span {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}