.app-container {
  height: 100%;
  width: 100%;
  background-color: #141416;
}

.bottom-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.control-bar {
  height: 6vh;
  display: flex;
}


.interact-bar {
  flex: 1;
  display: flex;
}

.topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.presence-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2.5vw;
  gap: 1.2vw;
}

snippyly-comment-tool, snippyly-tag-tool {
  margin-top: 0.5vh;
}
