.app-container {
  font-family: Poppins !important;
  height: 100%;
  width: 100%;
  background-color: #141416;
}

.bottom-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.control-bar {
  height: 6vh;
  display: flex;
}

.play-controls {
  width: calc(28vw - 3vw);
  border-right: 1px solid #303034;
  border-bottom: 1px solid #303034;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.interact-bar {
  flex: 1;
  display: flex;
}

.file-explorer {
  width: calc(28vw - 3vw);
  border-right: 1px solid #303034;
}

.stage {
  flex: 1;
}

.play-button-container {
  margin-left: 3vw;
  width: 2.5vw;
  height: 2.5vw;
  background-color: #222226;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.time-controls {
  display: flex;
  gap: 0.5vw;
  margin-right: 0.8vw;
}

.time-controls > div {
  color: #E5E5E9;
  background-color: #303034;
  width: 2.5vw;
  height: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  font-size: 0.9vw;
}

.speed-button {
  padding-left: 0.1vw !important;
  padding-right: 0.1vw !important;
}

.file {
  width: 100%;
  height: 7.69vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2vw;
  cursor: pointer
}

.file-name {
  color: #E5E5E9;
  margin-left: 0.7vw;
  font-weight: 200;
  font-size: 0.9vw;
}

.stage {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.track {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #242222;
  position: relative;
}

.video {
  background-color: #6EA7D3;
  border-radius: 8px;
  padding-bottom: 5vh;
  height: calc(100% - 10vh);
  width: 50%;
  /* margin-left: 10vw; */
  cursor: pointer;
}

.audio {
  background-color: #625DF5;
  border-radius: 8px;
  padding-bottom: 5vh;
  height: calc(100% - 10vh);
  width: 20%;
  /* margin-left: 15vw; */
  cursor: pointer;
  position: relative;
}

.audio-overlay {
  position: absolute;
  top: 0;
  left: 1vw;
  right: 1vw;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./icons/timeline.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.presence-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2.5vw;
}